@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello, World</h1>

    <!-- embedded youtube video of a favorite song of mine -->
    <iframe width="1045" height="435" src="https://www.youtube.com/embed/U2WDdccgaDY" title="Rainbow Kitten Surprise - It&#39;s Called: Freefall [Official Video]"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>


</div>
